In [49]:
"""
Date   : Nov 11 2017
@author: Archana Neelipalayam Masilamani
Task Description:
Retrieveing the top ten favourite movies of any user 

The dataset used is MovieLens data
"""

import pandas as pd

#Read Movielens data  - ratings.csv

ratings_data = pd.read_csv("ml-latest-small/ratings.csv",
                           index_col=False)
movies_data  = pd.read_csv("ml-latest-small/movies.csv",
                           index_col=False, usecols=[0,1])

#Print top 5 rows of Ratings data
ratings_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [50]:
#Print top 5 rows of Movies data
movies_data.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [52]:
# Join Ratings data with title column of Movies data (Like SQL join - on movieId)
data = ratings_data.merge(movies_data,left_on = 'movieId', right_on = 'movieId')
data.head()

   userId  movieId  rating   timestamp                   title
0       1       31     2.5  1260759144  Dangerous Minds (1995)
1       7       31     3.0   851868750  Dangerous Minds (1995)
2      31       31     4.0  1273541953  Dangerous Minds (1995)
3      32       31     4.0   834828440  Dangerous Minds (1995)
4      36       31     3.0   847057202  Dangerous Minds (1995)

In [98]:
#Function to retrieve N favourite movies of any user

def favMovie(N,user): 
    favMovieData = data[data['userId']==user].sort_values('rating',ascending=0)
    topFavMovie =  favMovieData[:N]
    return list(topFavMovie['title'])
    
N = 10
userId = 5
resultMovTitle = favMovie(N,userId)

print("Top ",N, " favourite movies by User ID", userId, ": ")

for res in resultMovTitle:
    print(res)

Top  10  favourite movies by User ID 5 :
Little Mermaid, The (1989)
Pretty Woman (1990)
Crash (2004)
Sound of Music, The (1965)
Grease (1978)
Miss Congeniality (2000)
Miracle on 34th Street (1994)
Liar Liar (1997)
As Good as It Gets (1997)
Almost Famous (2000)

pandas.core.series.Series